#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COMBO(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        layers = <0>; \
        timeout-ms = <1000>; \
        bindings = BINDINGS; \
        key-positions = <KEYPOS>; \
    };

#define MACRO_STRINGIFY(x) #x
#define MACRO(NAME, ...) \
    NAME: NAME { \
        label = MACRO_STRINGIFY(NAME); \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        wait-ms = <0>; \
        tap-ms = <0>; \
        bindings = __VA_ARGS__; \
    };

/ {
    macros {
        MACRO(tapA, <&macro_tap &kp A>)
        MACRO(tapS, <&macro_tap &kp S>)
        MACRO(tapF, <&macro_tap &kp F>)
        MACRO(tapG, <&macro_tap &kp G>)

        MACRO(tapQ, <&macro_tap &kp Q>)
        MACRO(tapW, <&macro_tap &kp W>)
        MACRO(tapE, <&macro_tap &kp E>)
        MACRO(tapR, <&macro_tap &kp R>)
        MACRO(tapT, <&macro_tap &kp T>)
    };
    combos {
        compatible = "zmk,combos";
              
        COMBO(cA, <&tapA>, 1 2)
        COMBO(cS, <&tapS>, 1 2 3)
        COMBO(cF, <&tapF>, 3 4 5)
        COMBO(cG, <&tapG>, 4 5)

    };
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                //0     1       2       3       4       5
                &none   &tapQ   &tapW   &tapE   &tapR   &tapT
            >;
                };
    };
};
